@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic');



body{
  overflow-y:scroll;
  background: linear-gradient(#6460C1, #162248) no-repeat;
  background-size: auto;
}


.row{
  width: 100%;

}

.container-fluid{
  padding: 0;
}

.page-header{
  margin-top: : 0px;

}

.page-header h4 small{
  padding-right: 20px;
  color: #00A8EC;

}

.page-header h4 {

  color: #670F5D;

}

.page-header h4 small{
  padding-right: 20px;
  color: #00A8EC;

}

.page-footer{

  padding-top: 25px;
}

.page-footer small{

  color: #00A8EC;
  padding-top: 10px;
  border-top:2px solid rgb(0, 0, 0);

}

.starter-template{
  color: #FFF;

}

.panel-body{
  padding-top: 0px;


}

#login-panel{
  padding-top: 35px;


}

.panel_default{
  padding-top: 0px 10px 10px 0px;

}

#no-content{
  min-height: 950px;
}

.thumbnail{
  width: 1080px;
  height: 608px;
  margin: 0 auto;
  margin-bottom: 15px;

}

#footer{
  width: 100%;
  background-color: #670F5D;
  padding: 5%;
  color: #FFF;
  font-family: 'Cairo' ,sans-serif;
}

#footer2{
  width: 100%;
  height: 150px;

}



.fa{
  padding: 20px;
  color: #FFF;
}

.fa:hover{
  color: #D5D5D5;
  text-decoration: none;

}

#login-form{
  width: 100%;
  margin: 0 auto;



}

#container-bg{
  /*
  Change between backgrounds by changing the jpg to png
  */
  background-image: url('/static/img/background.jpg');
  background-repeat: repeat-y;
  background-size: 1920px 1080px;
  background-attachment: fixed;
  background-position: center;

}

#welcome-again{
  margin-bottom: 10px;

}

#admin-user-home{
  margin: 10px auto;

}

#admin-user-buttons{
  margin: 25px auto;

}

.col-xs-12{
  margin-bottom: 10px;

}
.content {

  border-radius: 3px;
  font-family: 'Cairo' , sans-serif;
  position: fixed;
  margin: 0 auto;
  padding:15px 50px 30px;
  position:relative;
  height: 100%;
  width:100%; /* value of your choice which suits your alignment */
  z-index: 2;
}

.panel_default{
  background: rgba(255, 255, 255, 0.80);
  margin: 25px auto;

}

.navbar{
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #670F5D;
  color: #FFF;
  font-size: 1.2em;
  font-family: 'Cairo', sans-serif;
  border: 0px;
}


.navbar-collapse{
  width: 100%;
}

.navbar-brand{
  min-height: 55px;
  padding: 13px 20px 20px 5px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover{
  color: #FFF;
  background-color: #670F5D;
}

.navbar-inverse .navbar-nav li a{
  color: #D5D5D5;

}

.btn{
  font-size: 18px;
  color: #FFF;
  padding: 12px 22px;
  background: #670F5D;
  border: 2px solid #FFF;
  width: 200px !important;
}

#fileupload-bg{
  width: 300px !important;


}

.btn:hover{
  font-size: 18px;
  color: #FFF;
  padding: 12px 22px;
  background: #38003A;
  border: 2px solid #FFF;
}

#footer-img{
  max-width: 250px;
  max-height: 145px;
  margin: auto;
}

@media screen and (max-width: 768px) {
    .navbar-header {
        width: 100%;
    }
    #login-label{
      width: 100%;
    }
    #footer2{
      width: 100%;
      height: 510px;

    }
    #thumbnail-css{
      width: 85%;
      height: 158px;

    }

}

@media screen and (max-width: 1250px) {
    #thumbnail-css{
    width: 85%;
    height: 350px;

    }

}
